{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.category }}</p>
        <p>{{ post.text|linebreaks }}</p>
        <img src="{{ post.img.url }}" alt="{{ post.img }}" />
        <div class="date">
            <p>First published: {{ post.published_date }}</p>
            <p>Last updated: {{ post.last_updated_date }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}