{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <a class="large material-icons" href="{% url 'post_edit' pk=post.pk %}">edit</a>
        <h1>{{ post.title }}</h1>
        <p>Access number: {{ post.views_number }}</p>
        <p>Detail: {{ post.text|linebreaks }}</p>
        <img src="{{ post.img.url }}" alt="{{ post.img }}" width=350 height="500"/>
        {% if post.published_date %}
            <div class="date">
                <p>First published: {{ post.published_date }}</p>
                <p>Last updated: {{ post.last_updated_date }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
