{% extends 'book/base.html' %}

{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="post_list">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="img">
                <img src="{{ post.img.url }}" alt="{{ post.img }}" width=170 height="240"/>
            </div>
            <p>Category: {{ post.category }}</p>
            <p>Access number: {{ post.views_number }}</p>
            <p>Detail: {{ post.text|truncatechars:30 }}</p>
            <div class="date">
                <p>First published: {{ post.published_date }}</p>
                <p>Last updated: {{ post.last_updated_date }}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}